<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Luv2code company</title>
</head>
<body>

    <h3>Luv2code company home page</h3>
    <hr>
    <p>
    Welcome to luv2code
    </p>
    <hr>
    <!-- Display username and roles -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Roles: <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">
    <!-- Add a link to point to /leaders... this is for managers -->
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for Managers)
    </div>

    <div sec:authorize="hasRole('ADMIN')">
    <p>
    <a th:href="@{/systems}">System ADMIN meeting</a>
    (Only for Admins)
    </p>
    </div>

<hr>

    <!-- ADD logout button -->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>

</body>
</html>