<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button> &nbsp;
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy fitst component</button>
      <app-server-element 
        *ngFor="let element of serverElements"
        [serverElement]="element"
        [name]="element.name">
        <p #contentParagraph> Summa Paragraph!!!</p>
    </app-server-element>
    
    </div>
  </div>
</div>
